$pri-padding: 10px;  
$na: 0;
$bg-cover: 100% 100%;
$pri-font: Helvetica, sans-serif;
$sec-font: Helvetica, sans-serif;
$bg-green: green;
$drk-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
$mb: 30px;

$bh: 80px;
$mbh: 60px;
$m1bh: 30px;

$lh: 50px;
$mlh: 35px;
$m1lh: 25px;

$sh: 26px;
$msh: 22px;
$m1sh: 20px;

$bc: 30px;
$mbc: 26px;
$m1bc: 22px;

$sc: 22px;
$msc: 22px;
$m1sc: 20px;

$lw: 200;
$hw: 700;
$cw: 400;
$white: white;
$wgrey: #f9f9f9;
$green: #7cc576;
$grey: #777777;
$grey1: #cccccc;
$dgrey: #222222;
$lgrey: #5f7663;
$imagelg: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
$hf: Helvetica, sans-serif;
$cf: RobotoSlab;