@charset "UTF-8";
/* line 3, ../sass/style1.scss */
.container-fluid {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/style1.scss */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/greenpre.gif") 50% 50% no-repeat #f9f9f9;
}

/* line 17, ../sass/style1.scss */
.navbar {
  width: 70%;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
/* line 18, ../sass/style1.scss */
.navbar .fa {
  color: #777777;
  font-size: 24px;
}
@media (max-width: 1200px) {
  /* line 17, ../sass/style1.scss */
  .navbar {
    width: 90%;
  }
}
@media (max-width: 992px) {
  /* line 17, ../sass/style1.scss */
  .navbar {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}
/* line 31, ../sass/style1.scss */
.navbar a {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.35s ease;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 10;
  padding-right: 10;
  padding-bottom: 10;
  padding-left: 10;
  background-color: white;
  color: #777777;
  text-align: center;
}
/* line 39, ../sass/style1.scss */
.navbar .navbar-collapse, .navbar .navbar-default {
  border: 0;
}
/* line 44, ../sass/style1.scss */
.navbar .collapse a:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  border-bottom: 5px solid #7cc576;
  transition: 0.35s;
}
/* line 53, ../sass/style1.scss */
.navbar .collapse a:hover:after {
  width: 100%;
}
@media (max-width: 992px) {
  /* line 58, ../sass/style1.scss */
  .navbar .navbar-header {
    float: none;
  }
  /* line 61, ../sass/style1.scss */
  .navbar .navbar-left, .navbar .navbar-right {
    float: none !important;
  }
  /* line 64, ../sass/style1.scss */
  .navbar .navbar-toggle {
    display: block;
  }
  /* line 67, ../sass/style1.scss */
  .navbar .navbar-collapse {
    border-top: 0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /* line 71, ../sass/style1.scss */
  .navbar .navbar-collapse, .navbar .navbar-default {
    border-color: white;
  }
  /* line 74, ../sass/style1.scss */
  .navbar .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  /* line 78, ../sass/style1.scss */
  .navbar .navbar-collapse.collapse {
    display: none !important;
  }
  /* line 81, ../sass/style1.scss */
  .navbar .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  /* line 85, ../sass/style1.scss */
  .navbar .navbar-nav > li {
    float: none;
  }
  /* line 88, ../sass/style1.scss */
  .navbar .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /* line 92, ../sass/style1.scss */
  .navbar .collapse.in {
    display: block !important;
  }
  /* line 95, ../sass/style1.scss */
  .navbar .navbar-toggle {
    border: 0;
  }
  /* line 98, ../sass/style1.scss */
  .navbar .navbar-collapse li > a {
    text-align: center;
  }
  /* line 101, ../sass/style1.scss */
  .navbar .navbar a:after {
    display: none;
  }
  /* line 104, ../sass/style1.scss */
  .navbar .navbar a:hover:after {
    display: none;
  }
}

/* line 109, ../sass/style1.scss */
.navbar-default {
  background-color: white;
  border-color: white;
}

/* line 114, ../sass/style1.scss */
.head1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background1.jpg);
  background-size: 100% 100%;
  padding-top: 10%;
  padding-right: 0;
  padding-bottom: 10%;
  padding-left: 0;
  color: white;
  text-align: center;
}
/* line 119, ../sass/style1.scss */
.head1 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 80px;
  font-weight: 900;
  padding-top: 0;
  padding-right: 18%;
  padding-bottom: 0;
  padding-left: 18%;
}
@media (max-width: 1200px) {
  /* line 119, ../sass/style1.scss */
  .head1 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 119, ../sass/style1.scss */
  .head1 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 119, ../sass/style1.scss */
  .head1 h1 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  /* line 119, ../sass/style1.scss */
  .head1 h1 {
    font-size: 30px;
  }
}
/* line 131, ../sass/style1.scss */
.head1 h2 {
  font-size: 30px;
  font-family: RobotoSlab;
  font-weight: 400;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 100px;
  margin-left: 20px;
}
@media (max-width: 1200px) {
  /* line 131, ../sass/style1.scss */
  .head1 h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 131, ../sass/style1.scss */
  .head1 h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  /* line 131, ../sass/style1.scss */
  .head1 h2 {
    margin-bottom: 45px;
  }
}
@media (max-width: 992px) {
  /* line 131, ../sass/style1.scss */
  .head1 h2 {
    margin-bottom: 20px;
  }
}
/* line 142, ../sass/style1.scss */
.head1 a {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.35s ease;
  border-radius: 35px;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: #7cc576;
  color: white;
  text-align: center;
  padding: 24px;
  font-size: 22px;
}
@media (max-width: 1200px) {
  /* line 142, ../sass/style1.scss */
  .head1 a {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 142, ../sass/style1.scss */
  .head1 a {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 142, ../sass/style1.scss */
  .head1 a {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  /* line 142, ../sass/style1.scss */
  .head1 a {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 145, ../sass/style1.scss */
.head1 a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* line 150, ../sass/style1.scss */
.head2 {
  padding: 4% 10% 0 10%;
  background-color: white;
  color: #222222;
  text-align: center;
}
/* line 155, ../sass/style1.scss */
.head2 .head21 {
  margin-bottom: 160px;
}
/* line 156, ../sass/style1.scss */
.head2 .head21 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: white;
  color: #222222;
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 156, ../sass/style1.scss */
  .head2 .head21 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 156, ../sass/style1.scss */
  .head2 .head21 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
/* line 161, ../sass/style1.scss */
.head2 .head21 h2 {
  font-size: 30px;
  font-family: RobotoSlab;
  font-weight: 400;
  background-color: white;
  color: #5f7663;
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 161, ../sass/style1.scss */
  .head2 .head21 h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 161, ../sass/style1.scss */
  .head2 .head21 h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  /* line 155, ../sass/style1.scss */
  .head2 .head21 {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  /* line 155, ../sass/style1.scss */
  .head2 .head21 {
    margin-bottom: 40px;
  }
}
/* line 173, ../sass/style1.scss */
.head2 .head22 {
  margin-bottom: 160px;
}
/* line 174, ../sass/style1.scss */
.head2 .head22 h1 {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: white;
  color: #222222;
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  /* line 174, ../sass/style1.scss */
  .head2 .head22 h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 174, ../sass/style1.scss */
  .head2 .head22 h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
/* line 179, ../sass/style1.scss */
.head2 .head22 h2 {
  font-size: 22px;
  font-family: RobotoSlab;
  font-weight: 400;
  background-color: white;
  color: #5f7663;
  text-align: center;
}
@media (max-width: 1200px) {
  /* line 179, ../sass/style1.scss */
  .head2 .head22 h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 179, ../sass/style1.scss */
  .head2 .head22 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 173, ../sass/style1.scss */
  .head2 .head22 {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) {
  /* line 173, ../sass/style1.scss */
  .head2 .head22 {
    margin-bottom: 40px;
  }
}
@media (max-width: 1200px) {
  /* line 192, ../sass/style1.scss */
  .head2 .col-md-4 {
    margin-bottom: 25px;
    margin-top: 20px;
  }
}

/* line 200, ../sass/style1.scss */
.head3 .row {
  background-image: url(../images/grey.jpg);
  background-size: cover;
  margin: 0;
}
/* line 206, ../sass/style1.scss */
.head3 .col-md-4 {
  margin-right: 0;
  transform: translate(55%);
}
/* line 209, ../sass/style1.scss */
.head3 .col-md-4 img {
  animation: rotate 10s linear infinite;
  vertical-align: middle;
}
@media (max-width: 992px) {
  /* line 206, ../sass/style1.scss */
  .head3 .col-md-4 {
    display: none;
  }
}
/* line 218, ../sass/style1.scss */
.head3 .col-md-8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background2.jpg);
  background-size: 100% 100%;
  padding-top: 8%;
  padding-right: 8%;
  padding-bottom: 8%;
  padding-left: 8%;
  color: #cccccc;
  text-align: left;
}
@media (max-width: 1200px) {
  /* line 218, ../sass/style1.scss */
  .head3 .col-md-8 {
    padding-top: 8%;
    padding-right: 0;
    padding-bottom: 12%;
    padding-left: 8%;
  }
}
/* line 226, ../sass/style1.scss */
.head3 .col-md-8 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: transparent;
  color: white;
}
@media (max-width: 1200px) {
  /* line 226, ../sass/style1.scss */
  .head3 .col-md-8 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 226, ../sass/style1.scss */
  .head3 .col-md-8 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
/* line 230, ../sass/style1.scss */
.head3 .col-md-8 ul {
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 80px;
}
/* line 232, ../sass/style1.scss */
.head3 .col-md-8 ul li {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
}
@media (max-width: 1200px) {
  /* line 232, ../sass/style1.scss */
  .head3 .col-md-8 ul li {
    margin-bottom: 8px;
  }
}
/* line 238, ../sass/style1.scss */
.head3 .col-md-8 ul li:before {
  font-family: "FontAwesome";
  font-size: 30px;
  content: "";
  color: #cccccc;
  padding-right: 15px;
  text-align: center;
  float: left;
  padding-bottom: 15px;
}
@media (max-width: 1200px) {
  /* line 238, ../sass/style1.scss */
  .head3 .col-md-8 ul li:before {
    font-size: 25px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  /* line 238, ../sass/style1.scss */
  .head3 .col-md-8 ul li:before {
    font-size: 20px;
    padding-right: 10px;
  }
}
/* line 243, ../sass/style1.scss */
.head3 .col-md-8 ul h2 {
  font-size: 22px;
  font-family: RobotoSlab;
  font-weight: 400;
  padding-top: 8px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  margin: 0;
}
@media (max-width: 1200px) {
  /* line 243, ../sass/style1.scss */
  .head3 .col-md-8 ul h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 243, ../sass/style1.scss */
  .head3 .col-md-8 ul h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 243, ../sass/style1.scss */
  .head3 .col-md-8 ul h2 {
    padding-top: 4px;
    padding-bottom: 0;
  }
}
@media (max-width: 1200px) {
  /* line 230, ../sass/style1.scss */
  .head3 .col-md-8 ul {
    margin-bottom: 30px;
    padding-right: 5px;
  }
}
/* line 259, ../sass/style1.scss */
.head3 .col-md-8 a {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.35s ease;
  border-radius: 35px;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: #7cc576;
  color: white;
  text-align: center;
  padding: 24px;
  font-size: 22px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  /* line 259, ../sass/style1.scss */
  .head3 .col-md-8 a {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 259, ../sass/style1.scss */
  .head3 .col-md-8 a {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 259, ../sass/style1.scss */
  .head3 .col-md-8 a {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  /* line 259, ../sass/style1.scss */
  .head3 .col-md-8 a {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  /* line 259, ../sass/style1.scss */
  .head3 .col-md-8 a {
    margin-bottom: 40px;
  }
}
/* line 267, ../sass/style1.scss */
.head3 .col-md-8 a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
@media (max-width: 992px) {
  /* line 273, ../sass/style1.scss */
  .head3 .flex-container_row {
    flex-wrap: wrap;
    display: block;
  }
}

/* line 279, ../sass/style1.scss */
.head4 {
  background-color: white;
  color: #222222;
  text-align: center;
  padding-top: 1%;
}
@media (max-width: 1200px) {
  /* line 279, ../sass/style1.scss */
  .head4 {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 35px;
    padding-left: 20px;
  }
}
@media (max-width: 992px) {
  /* line 279, ../sass/style1.scss */
  .head4 {
    padding-top: 40px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }
}
/* line 288, ../sass/style1.scss */
.head4 .head41 {
  padding-top: 100px;
  margin-bottom: 60px;
}
/* line 290, ../sass/style1.scss */
.head4 .head41 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: transparent;
}
@media (max-width: 1200px) {
  /* line 290, ../sass/style1.scss */
  .head4 .head41 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 290, ../sass/style1.scss */
  .head4 .head41 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
/* line 294, ../sass/style1.scss */
.head4 .head41 h2 {
  font-size: 30px;
  font-family: RobotoSlab;
  font-weight: 400;
  color: #777777;
}
@media (max-width: 1200px) {
  /* line 294, ../sass/style1.scss */
  .head4 .head41 h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 294, ../sass/style1.scss */
  .head4 .head41 h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 1200px) {
  /* line 288, ../sass/style1.scss */
  .head4 .head41 {
    padding-top: 30px;
  }
}
/* line 304, ../sass/style1.scss */
.head4 .head42 .col-md-5 {
  text-align: left;
}
/* line 306, ../sass/style1.scss */
.head4 .head42 .col-md-5 h1 {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  /* line 306, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 306, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 306, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h1 {
    margin-bottom: 0;
  }
}
/* line 313, ../sass/style1.scss */
.head4 .head42 .col-md-5 h2 {
  font-size: 22px;
  font-family: RobotoSlab;
  font-weight: 400;
  margin-top: 0;
  color: #777777;
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  /* line 313, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 313, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 313, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h2 {
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  /* line 313, ../sass/style1.scss */
  .head4 .head42 .col-md-5 h2 {
    margin-bottom: 20px;
  }
}
/* line 325, ../sass/style1.scss */
.head4 .head42 .col-md-5 ul {
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  /* line 325, ../sass/style1.scss */
  .head4 .head42 .col-md-5 ul {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
/* line 333, ../sass/style1.scss */
.head4 .head42 .col-md-5 ul li {
  list-style-type: none;
  margin-top: 50px;
  vertical-align: middle;
}
/* line 337, ../sass/style1.scss */
.head4 .head42 .col-md-5 ul li img {
  width: 30px;
}
@media (max-width: 992px) {
  /* line 337, ../sass/style1.scss */
  .head4 .head42 .col-md-5 ul li img {
    width: 20px;
  }
}
/* line 344, ../sass/style1.scss */
.head4 .head42 .col-md-5 ul li .x {
  border: 2px solid black;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  padding: 12px;
}
@media (max-width: 992px) {
  /* line 344, ../sass/style1.scss */
  .head4 .head42 .col-md-5 ul li .x {
    margin-top: 0;
    padding: 10px;
  }
}
/* line 358, ../sass/style1.scss */
.head4 .head42 .col-md-5 .glyphicon {
  font-size: 24px;
}
/* line 362, ../sass/style1.scss */
.head4 .head42 .col-md-5 a {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #7cc576;
  text-decoration: none;
}
@media (max-width: 1200px) {
  /* line 362, ../sass/style1.scss */
  .head4 .head42 .col-md-5 a {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 362, ../sass/style1.scss */
  .head4 .head42 .col-md-5 a {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
/* line 368, ../sass/style1.scss */
.head4 .head42 .col-md-5 a:hover {
  color: black;
  transition: 0.35s ease;
}
/* line 373, ../sass/style1.scss */
.head4 .head42 .col-md-5 a:hover span {
  transition: all 0.35s ease;
  padding-left: 25px;
  color: black;
}
/* line 380, ../sass/style1.scss */
.head4 .head42 .col-md-6 {
  padding: 0;
}
/* line 383, ../sass/style1.scss */
.head4 .head42 .col-md-6 img {
  width: 100%;
  height: auto;
  margin-right: 0;
}

/* line 391, ../sass/style1.scss */
.head5 {
  background-color: #f9f9f9;
  padding-top: 8%;
  padding-right: 10%;
  padding-bottom: 8%;
  padding-left: 10%;
  background-color: #f9f9f9;
  color: #777777;
  text-align: center;
}
/* line 396, ../sass/style1.scss */
.head5 .row1 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #222222;
}
@media (max-width: 1200px) {
  /* line 396, ../sass/style1.scss */
  .head5 .row1 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 396, ../sass/style1.scss */
  .head5 .row1 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
/* line 401, ../sass/style1.scss */
.head5 .row1 h2 {
  font-size: 30px;
  font-family: RobotoSlab;
  font-weight: 400;
}
@media (max-width: 1200px) {
  /* line 401, ../sass/style1.scss */
  .head5 .row1 h2 {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 401, ../sass/style1.scss */
  .head5 .row1 h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  /* line 401, ../sass/style1.scss */
  .head5 .row1 h2 {
    margin-bottom: 45px;
  }
}
/* line 408, ../sass/style1.scss */
.head5 .row2 {
  width: 81%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
}
/* line 412, ../sass/style1.scss */
.head5 .row2 .col-md-3 {
  border-bottom: 5px solid #777777;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  /* line 412, ../sass/style1.scss */
  .head5 .row2 .col-md-3 {
    padding-top: 30px;
  }
}
@media (max-width: 992px) {
  /* line 412, ../sass/style1.scss */
  .head5 .row2 .col-md-3 {
    display: none;
  }
}
/* line 422, ../sass/style1.scss */
.head5 .row2 .fa {
  font-family: "FontAwesome";
  font-size: 60px;
  content: '\$fweight';
  color: #777777;
  text-align: center;
  border: 2px solid #777777;
  border-radius: 50%;
  padding: 15%;
  background-color: #f9f9f9;
}
@media (max-width: 1200px) {
  /* line 422, ../sass/style1.scss */
  .head5 .row2 .fa {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  /* line 422, ../sass/style1.scss */
  .head5 .row2 .fa {
    font-size: 35px;
    padding: 1px;
  }
}
@media (max-width: 992px) {
  /* line 408, ../sass/style1.scss */
  .head5 .row2 {
    display: none;
  }
}
/* line 440, ../sass/style1.scss */
.head5 .row3 h1 {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: #f9f9f9;
  color: #222222;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 15px;
}
@media (max-width: 1200px) {
  /* line 440, ../sass/style1.scss */
  .head5 .row3 h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 440, ../sass/style1.scss */
  .head5 .row3 h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 440, ../sass/style1.scss */
  .head5 .row3 h1 {
    padding-bottom: 0;
  }
}
/* line 449, ../sass/style1.scss */
.head5 .row3 h2 {
  font-size: 22px;
  font-family: RobotoSlab;
  font-weight: 400;
  padding-right: 6%;
  background-color: #f9f9f9;
  padding-left: 6%;
  padding-bottom: 15px;
}
@media (max-width: 1200px) {
  /* line 449, ../sass/style1.scss */
  .head5 .row3 h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 449, ../sass/style1.scss */
  .head5 .row3 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 449, ../sass/style1.scss */
  .head5 .row3 h2 {
    margin-bottom: 30px;
  }
}
/* line 459, ../sass/style1.scss */
.head5 .row3 .fa {
  display: none;
}
@media (max-width: 992px) {
  /* line 459, ../sass/style1.scss */
  .head5 .row3 .fa {
    display: inline;
    font-size: 35px;
    border: 3px solid #777777;
    border-radius: 50%;
    padding: 20px;
  }
}
@media (max-width: 992px) {
  /* line 391, ../sass/style1.scss */
  .head5 {
    padding-bottom: 0;
  }
}

/* line 473, ../sass/style1.scss */
.head6 {
  background-color: white;
  color: #777777;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-top: 3%;
  padding-bottom: 3%;
  height: 40%;
}
@media (max-width: 992px) {
  /* line 473, ../sass/style1.scss */
  .head6 {
    padding: 0;
    margin-top: 50px;
  }
}
/* line 485, ../sass/style1.scss */
.head6 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #222222;
}
@media (max-width: 1200px) {
  /* line 485, ../sass/style1.scss */
  .head6 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 485, ../sass/style1.scss */
  .head6 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
/* line 490, ../sass/style1.scss */
.head6 h2 {
  font-size: 22px;
  font-family: RobotoSlab;
  font-weight: 400;
}
@media (max-width: 1200px) {
  /* line 490, ../sass/style1.scss */
  .head6 h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 490, ../sass/style1.scss */
  .head6 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
/* line 493, ../sass/style1.scss */
.head6 .row {
  padding-top: 25px;
}
/* line 495, ../sass/style1.scss */
.head6 .row h3 {
  font-size: 30px;
  font-family: RobotoSlab;
  font-weight: 400;
  background-color: #f9f9f9;
  padding-top: 5%;
  padding-right: 7%;
  padding-bottom: 5%;
  padding-left: 7%;
}
@media (max-width: 1200px) {
  /* line 495, ../sass/style1.scss */
  .head6 .row h3 {
    font-size: 26px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 495, ../sass/style1.scss */
  .head6 .row h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 99px) {
  /* line 495, ../sass/style1.scss */
  .head6 .row h3 {
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
  }
}
@media (max-width: 992px) {
  /* line 503, ../sass/style1.scss */
  .head6 .row .col-md-3 {
    max-width: 250px;
    max-height: 250px;
  }
}
/* line 510, ../sass/style1.scss */
.head6 .row .col-md-9 img {
  margin: 0;
  padding: 0;
}
@media (max-width: 992px) {
  /* line 510, ../sass/style1.scss */
  .head6 .row .col-md-9 img {
    display: none;
    padding-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 473, ../sass/style1.scss */
  .head6 {
    margin-bottom: 30px;
  }
}

/* line 524, ../sass/style1.scss */
.head7 {
  background-color: #7cc576;
  color: white;
  text-align: center;
  padding-top: 7%;
  padding-right: 3%;
  padding-bottom: 7%;
  padding-left: 3%;
}
@media (max-width: 992px) {
  /* line 524, ../sass/style1.scss */
  .head7 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
/* line 531, ../sass/style1.scss */
.head7 h1 {
  font-size: 50px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  padding-bottom: 40px;
}
@media (max-width: 1200px) {
  /* line 531, ../sass/style1.scss */
  .head7 h1 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 531, ../sass/style1.scss */
  .head7 h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  /* line 531, ../sass/style1.scss */
  .head7 h1 {
    padding-bottom: 15px;
  }
}
/* line 539, ../sass/style1.scss */
.head7 a {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 0.35s ease;
  border-radius: 35px;
  text-decoration: none;
  text-align: center;
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  background-color: #7cc576;
  color: white;
  text-align: center;
  padding: 24px;
  font-size: 22px;
  font-size: 30px;
  font-weight: 700;
  padding: 14px;
  border-radius: 2px;
  border: 5px solid white;
  border-width: thick;
}
@media (max-width: 1200px) {
  /* line 539, ../sass/style1.scss */
  .head7 a {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 539, ../sass/style1.scss */
  .head7 a {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  /* line 539, ../sass/style1.scss */
  .head7 a {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  /* line 539, ../sass/style1.scss */
  .head7 a {
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
/* line 549, ../sass/style1.scss */
.head7 a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* line 553, ../sass/style1.scss */
.head8 {
  padding-bottom: 1.5%;
  padding-top: 3%;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  color: #222222;
  text-align: center;
}
@media (max-width: 992px) {
  /* line 553, ../sass/style1.scss */
  .head8 {
    padding: 0;
  }
}
/* line 563, ../sass/style1.scss */
.head8 img {
  padding-bottom: 8%;
  margin-left: auto;
  margin-right: auto;
  min-width: 125px;
  min-height: 50px;
  filter: grayscale(100%);
  mouseover-transition: all 3s ease;
  transition: all 0.35s ease;
}
@media (max-width: 992px) {
  /* line 563, ../sass/style1.scss */
  .head8 img {
    padding-top: 8%;
  }
}
/* line 576, ../sass/style1.scss */
.head8 img:hover {
  filter: grayscale(0);
}

/* line 580, ../sass/style1.scss */
.head9 {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #222222;
  color: white;
  text-align: left;
}
/* line 584, ../sass/style1.scss */
.head9 .row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  line-height: 40px;
}
/* line 591, ../sass/style1.scss */
.head9 h2 {
  font-size: 26px;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-bottom: 5%;
}
@media (max-width: 1200px) {
  /* line 591, ../sass/style1.scss */
  .head9 h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}
@media (max-width: 992px) {
  /* line 591, ../sass/style1.scss */
  .head9 h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  /* line 591, ../sass/style1.scss */
  .head9 h2 {
    padding-top: 28px;
    padding-bottom: 25px;
    line-height: 15px;
  }
}
/* line 601, ../sass/style1.scss */
.head9 ul {
  padding-left: 0;
}
/* line 603, ../sass/style1.scss */
.head9 ul li {
  padding-bottom: 15px;
}
/* line 607, ../sass/style1.scss */
.head9 ul h1 {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #777777;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 120px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #222222;
  text-align: left;
  color: white;
  font-size: 19px;
  padding: 0;
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.6;
  word-spacing: 4px;
}
@media (max-width: 992px) {
  /* line 607, ../sass/style1.scss */
  .head9 ul h1 {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (max-width: 992px) {
  /* line 607, ../sass/style1.scss */
  .head9 ul h1 {
    font-size: 14px;
    padding: 0;
    margin-left: 42px;
    padding-right: 1%;
    margin-bottom: 8px;
  }
}
/* line 628, ../sass/style1.scss */
.head9 .glyphicon {
  font-size: 25px;
  background-color: #222222;
  color: white;
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
@media (max-width: 992px) {
  /* line 628, ../sass/style1.scss */
  .head9 .glyphicon {
    font-size: 14px;
    margin-right: 5px;
  }
}
/* line 641, ../sass/style1.scss */
.head9 .fa {
  font-size: 25px;
  background-color: inherit;
  color: white;
  float: left;
  padding: 0;
  margin: 0;
  padding-top: 2px;
}
@media (max-width: 992px) {
  /* line 641, ../sass/style1.scss */
  .head9 .fa {
    font-size: 14px;
    margin-right: 5px;
  }
}
/* line 655, ../sass/style1.scss */
.head9 .col1 li {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  padding-bottom: 5%;
}
@media (max-width: 992px) {
  /* line 655, ../sass/style1.scss */
  .head9 .col1 li {
    padding-bottom: 0;
  }
}
/* line 664, ../sass/style1.scss */
.head9 .col1 li:before {
  font-family: "FontAwesome";
  font-size: 30px;
  content: "";
  color: #cccccc;
  padding-right: 15px;
  text-align: center;
  float: left;
}
@media (max-width: 1200px) {
  /* line 664, ../sass/style1.scss */
  .head9 .col1 li:before {
    font-size: 25px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  /* line 664, ../sass/style1.scss */
  .head9 .col1 li:before {
    font-size: 20px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  /* line 664, ../sass/style1.scss */
  .head9 .col1 li:before {
    font-size: 14px;
    padding-right: 4px;
  }
}
/* line 672, ../sass/style1.scss */
.head9 .col1 li:before span, .head9 .col1 li:before i {
  transition: all 0.3s linear;
}
/* line 675, ../sass/style1.scss */
.head9 .col1 a:hover {
  text-decoration: none;
}
/* line 679, ../sass/style1.scss */
.head9 .col1 li:hover #phn {
  transition: all 0.3s linear;
  color: #E1572B;
  animation: shake 1s;
}
/* line 684, ../sass/style1.scss */
.head9 .col1 li:hover #navi {
  transition: all 0.3s linear;
  color: #E1572B;
  animation: bounce 1s;
}
/* line 689, ../sass/style1.scss */
.head9 .col1 li:hover #env {
  transition: all 0.3s linear;
  color: #E1572B;
  animation: fadeInLeft 1s;
}
/* line 696, ../sass/style1.scss */
.head9 .col2 li {
  list-style-type: none;
}
/* line 699, ../sass/style1.scss */
.head9 .col2 a:hover {
  text-decoration: none;
}
/* line 702, ../sass/style1.scss */
.head9 .col2 a h1 {
  transition: all 0.3s linear;
}
/* line 705, ../sass/style1.scss */
.head9 .col2 a li:hover .fa, .head9 .col2 a li:hover .glyphicon {
  transition: all 0.3s linear;
  color: #7cc576;
  animation: flipInY 1s;
}
/* line 712, ../sass/style1.scss */
.head9 .col3 li {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0;
  padding-bottom: 5%;
}
@media (max-width: 992px) {
  /* line 712, ../sass/style1.scss */
  .head9 .col3 li {
    padding-bottom: 0;
  }
}
/* line 721, ../sass/style1.scss */
.head9 .col3 li:before {
  font-family: "FontAwesome";
  font-size: 30px;
  content: "";
  color: #cccccc;
  padding-right: 15px;
  text-align: center;
  float: left;
}
@media (max-width: 1200px) {
  /* line 721, ../sass/style1.scss */
  .head9 .col3 li:before {
    font-size: 25px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  /* line 721, ../sass/style1.scss */
  .head9 .col3 li:before {
    font-size: 20px;
    padding-right: 10px;
  }
}
@media (max-width: 992px) {
  /* line 721, ../sass/style1.scss */
  .head9 .col3 li:before {
    font-size: 14px;
    padding-right: 4px;
  }
}
/* line 730, ../sass/style1.scss */
.head9 .col3 li:before {
  transition: color 0.3s linear;
}
/* line 733, ../sass/style1.scss */
.head9 .col3 a:hover {
  text-decoration: none;
}
/* line 736, ../sass/style1.scss */
.head9 .col3 li:hover:before {
  color: #00C6FF;
  animation: rubberBand 1s;
}

/* line 742, ../sass/style1.scss */
.head10 {
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 1%;
}
/* line 751, ../sass/style1.scss */
.head10 .row {
  padding-right: 0;
  padding-left: 0;
}
/* line 755, ../sass/style1.scss */
.head10 .fa {
  font-size: 25px;
  background-color: #222222;
  color: white;
  padding: 15px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 0;
}
@media (max-width: 992px) {
  /* line 755, ../sass/style1.scss */
  .head10 .fa {
    font-size: 20px;
    padding: 10px;
  }
}
/* line 768, ../sass/style1.scss */
.head10 #brandfa1:hover {
  background-color: #00C6FF;
  padding: 10px;
}
/* line 772, ../sass/style1.scss */
.head10 #brandfa2:hover {
  background-color: #3B5998;
  padding: 10px;
}
/* line 776, ../sass/style1.scss */
.head10 #brandfa3:hover {
  background-color: #c8232c;
  padding: 10px;
}
/* line 780, ../sass/style1.scss */
.head10 #brandfa4:hover {
  background-color: #dd4b39;
  padding: 10px;
}
/* line 784, ../sass/style1.scss */
.head10 span {
  text-decoration: none;
  background-color: #222222;
  color: white;
  transition: all 0.35s linear;
}
/* line 790, ../sass/style1.scss */
.head10 h1 {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #777777;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 120px;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  color: #222222;
  padding-top: 2px;
  background-color: white;
  text-align: center;
  color: #222222;
  font-size: 19px;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 2%;
  line-height: 1.6;
  word-spacing: 4px;
}
@media (max-width: 992px) {
  /* line 790, ../sass/style1.scss */
  .head10 h1 {
    font-size: 14px;
    padding: 5px;
    margin-bottom: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media (max-width: 992px) {
  /* line 790, ../sass/style1.scss */
  .head10 h1 {
    margin-bottom: 0;
  }
}
/* line 809, ../sass/style1.scss */
.head10 li {
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
}
/* line 814, ../sass/style1.scss */
.head10 .col-md-4 {
  padding: 0;
  margin: 0;
}

/* line 819, ../sass/style1.scss */
.flex-container_row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 992px) {
  /* line 819, ../sass/style1.scss */
  .flex-container_row {
    flex-wrap: wrap;
  }
}

/* line 829, ../sass/style1.scss */
.row {
  margin-right: 0;
  margin-left: 0;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
@media (max-width: 992px) {
  /* line 846, ../sass/style1.scss */
  .row {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
